*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem; /*to center the heading*/
     
    
}

@media screen and (max-width: 425px) {
    h1{
    
       
        
    }
  }



.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}

@media screen and (max-width: 569px) {
    .choice {
        
     height: 130px;
    width: 130px;
    border-radius: 50%;
    }
  }


img{
    height: 150px;
    width: 150px;
    object-fit: cover;   /*to fit the image and actual size */
    border-radius: 50%;
}

@media screen and (max-width: 569px) {
    img {
        height: 110px;
        width: 110px;
    }
  }

 


.choices{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem ;
}

@media screen and (max-width: 425px) {
    .choices {
        display: flex;
        flex-direction: column;
        gap: 0.70rem;
        margin-top: 1rem;

    
    }
  }



.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}


@media screen and (max-width: 425px) {
    .score-board{
    
        font-size: 1.5rem;
        margin-top: 0.50rem;
        gap: 7rem;
    }
  }

#user-score, #comp-score{
    font-size: 4rem;
}

@media screen and (max-width: 425px) {
    #user-score, #comp-score{
    
        font-size: 3rem;
        
    }
  }


.msg-container{
    margin-top: 4rem;
}

@media screen and (max-width: 425px) {
    .msg-container{
    
        margin-top: 1.9rem;
        
    }
  }




#msg{
    margin-top: 5rem;
    background-color:#081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 425px) {
    #msg{
    
        font-size: 1.2rem;
        
    }
  }

  

  .footer {
    position:fixed ;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #081b31;
    color: white;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }